In [16]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [ ]:
sst = pd.read_table('../datasets/sst_weekly.txt', 
                    header=None, 
                    sep='\s+', 
                    index_col=0, 
                    parse_dates=True, 
                    skiprows=4, 
                    skip_blank_lines=True,
                    names=['date', 'nino12_sst', 'nino12_ssta', 'nino3_sst', 'nino3_ssta', 'nino34_sst', 'nino34_ssta', 'nino4_sst', 'nino4_ssta'])

sst.head()

,nino12_sst,nino12_ssta,nino3_sst,nino3_ssta,nino34_sst,nino34_ssta,nino4_sst,nino4_ssta
date,,,,,,,,
1981-09-02,20.6,0.1,24.8,0.1,26.5,0.2,28.3,0.3
1981-09-09,20.1,0.6,24.7,0.2,26.5,0.2,28.4,0.2
1981-09-16,19.7,0.9,24.6,0.3,26.5,0.2,28.4,0.3
1981-09-23,20.3,0.4,24.3,0.6,26.1,0.5,28.2,0.5
1981-09-30,20.0,0.8,24.7,0.3,26.2,0.4,28.0,0.6

In [ ]:
# Resample weekly data to daily data, and forward fill the missing values
sst_daily = sst.resample('D').ffill()

sst_daily.head()

,nino12_sst,nino12_ssta,nino3_sst,nino3_ssta,nino34_sst,nino34_ssta,nino4_sst,nino4_ssta
date,,,,,,,,
1981-09-02,20.6,0.1,24.8,0.1,26.5,0.2,28.3,0.3
1981-09-03,20.6,0.1,24.8,0.1,26.5,0.2,28.3,0.3
1981-09-04,20.6,0.1,24.8,0.1,26.5,0.2,28.3,0.3
1981-09-05,20.6,0.1,24.8,0.1,26.5,0.2,28.3,0.3
1981-09-06,20.6,0.1,24.8,0.1,26.5,0.2,28.3,0.3

In [19]:
# Filter sst_daily by year 2007
sst_daily_2007 = sst_daily['2007']

# Filter sst_daily by year 2012
sst_daily_2012 = sst_daily['2012']

# Write to csv
sst_daily_2007.to_csv('../datasets/sst_daily_2007.csv')
sst_daily_2012.to_csv('../datasets/sst_daily_2012.csv')